.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
    margin-left: -250px;

    .navbar {
        text-align: left;
        height: 100%;

        h3 {
            font-size: 24px;
        }

        .navbar-nav {
            height: 100%;

            .nav-link {
                padding: 15px 20px;
                gap: 10px;
                color: var(--light);
                font-weight: 500;
                border-left: 3px solid var(--secondary);
                outline: none;

                &:hover,
                &:active {
                    background: var(--dark);
                    border-color: var(--primary);

                    svg {
                        background: var(--secondary);
                    }
                }

                svg {
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--dark);
                    border-radius: 50%;
                }
            }

            .active {
                background: var(--dark);
                border-color: var(--primary);

                svg {
                    background: var(--secondary);
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: 100px;
        .navbar {
            h3 {
                display: none;
            }
        }
    }
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px !important;

    img {
        width: 120px;
    }
}